absl-py==0.9.0
aiodns==1.1.1
aiohttp==3.3.2
aiohttp-socks==0.2.2
alpha-vantage==2.1.3
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.6.2
astunparse==1.6.3
async-timeout==3.0.0
atomicwrites==1.2.1
attrs==18.1.0
beautifulsoup4==4.6.3
bleach==3.1.5
blessed==1.16.0
boto3==1.16.28
botocore==1.19.28
bs4==0.0.1
cached-property==1.5.1
cachetools==3.0.0
cchardet==2.1.1
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
cmudict==0.4.4
colorama==0.3.9
conda==4.5.1
convertdate==2.2.2
cryptography==2.9.2
cssselect==1.0.3
cycler==0.10.0
dateparser==1.0.0
decorator==4.4.2
docker==3.7.3
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
elasticsearch==6.3.1
fake-useragent==0.1.11
Flask==1.0.2
Flask-Cors==3.0.8
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
gast==0.3.3
geographiclib==1.49
geopy==1.20.0
get-all-tickers==1.7
gevent==1.4.0
google==2.0.2
google-api-python-client==1.7.4
google-auth==1.19.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
GoogleNews==1.5.3
greenlet==0.4.15
grpcio==1.12.0
h5py==2.10.0
holidays==0.10.3
html5lib==0.9999999
httplib2==0.18.1
Hyphenate==1.1.0
idna==2.6
idna-ssl==1.1.0
imutils==0.5.3
inflection==0.3.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.16.0
jsonschema==2.6.0
jupyter-core==4.7.1
Keras==2.1.6
Keras-Preprocessing==1.1.2
kiwisolver==1.0.1
korean-lunar-calendar==0.2.1
lxml==4.3.4
Markdown==2.6.11
markovify==0.7.2
MarkupSafe==1.1.0
matplotlib==2.2.2
metapy==0.2.13
more-itertools==4.3.0
multidict==4.3.1
nbformat==5.1.2
newsapi-python==0.2.6
nibabel==2.2.1
nltk==3.5
numpy==1.17.2
oauth2client==4.1.3
oauthlib==2.1.0
opencv-python==3.4.1.15
opt-einsum==3.3.0
packaging==20.4
pandas==0.25.1
parse==1.12.0
pathspec==0.5.9
phantomjs==1.1.4
pigar==0.10.0
Pillow==7.2.0
plotly==4.5.4
pluggy==0.8.0
praw==6.1.1
prawcore==1.0.1
pronouncing==0.2.0
protobuf==3.12.2
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycares==2.3.0
pycosat==0.6.3
pycparser==2.18
pyee==6.0.0
pyenchant==2.0.0
pygame==1.9.4
PyMeeus==0.3.7
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyppeteer==0.0.25
pyquery==1.4.0
PySocks==1.6.8
pytesseract==0.3.0
pytest==3.10.1
python-barcode==0.10.0
python-dateutil==2.7.3
pytoml==0.1.20
pytz==2018.4
PyYAML==5.3.1
pyzbar==0.1.8
Quandl==3.5.0
RandomWords==0.3.0
regex==2020.7.14
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.0.0
retrying==1.3.3
rsa==4.0
ruamel-yaml==0.15.35
s3transfer==0.3.3
schedule==0.6.0
scikit-learn==0.23.2
scipy==1.4.1
selenium==3.141.0
semantic-version==2.5.0
six==1.15.0
sklearn==0.0
SQLAlchemy==1.3.18
summa==1.2.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
tesseract==0.1.3
textblob==0.15.3
texttable==0.9.1
threadpoolctl==2.1.0
tqdm==4.31.1
traitlets==4.3.3
tweepy==3.6.0
twitter-scraper==0.3.0
tzlocal==2.1
Unidecode==1.1.1
update-checker==0.16
uritemplate==3.0.0
urllib3==1.25.4
uWSGI==2.0.18
virtualenv==16.7.6
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
websockets==8.0.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.2.1
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
yarl==1.2.6
zbar-py==1.0.4
