--dark-blue: #0D254C;
    --dark-green:#0A2D34;
    --blue-gray: #1C4247;
    --light-blue:#92C5E7;
    --gold: #d4af37;
    --sand: #E4D4B1;
    --deep-red:#6F3C3C;
    --bronze: #CC8836;
    --silver:#C0C0C0;
    --white:#F9F9FA;
    --black:#000000;
    --red:hsla(359, 50%, 50%, 1);
}